/* CONFIGURAÇÃO BÁSICA DO CSS */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

:root {
 --title-font: 'Montserrat', sans-serif;
 --body-font: 'Open-Sans', sans-serif;
}

html, body {
 height: 100%;
}

div.container{
max-width: 1280px;
margin:0 auto;
padding: 30px auto;
}

.clear{
clear: both;
}

/* ************************************** */
/* CONFIGURAÇÃO DO ARQUIVO ATUAL DO SITE */
/* header - Menu superior */
.menu-superior {
 background-image: url(../assets/capa-bg.svg);
 background-size: cover;
 background-repeat: no-repeat;
 height: 560px;
 color: #f0f8ff;
 padding-top: 50px;
}

.logo {
 margin-left: 50px;
 margin-top: 50px;
}

.titulo-menuSuperior {
 margin-left: 150px;
 margin-top: 50px;
 line-height: 51px;
 font-family: var(--title-font);
 font-weight: 700;
 font-size: 40px;
}

.texto-menuSuperior {
 margin-left: 150px;
 margin-top: 32px;
 font-size: 20px;
 font-weight: 400;
 line-height: 30px;
 font-family: var(--body-font);
}

/* section - menu-informacional */
.menu-informacional {
 background-color: #eaece5;
}

.menu-informacional .container{ 
 display: grid;
 grid-auto-flow: column;
 columns: auto; 
 color: #807f7f;
}

.icone {
 margin: 50px 100px;
 margin-right: 0;
 padding: 20px;
}

.texto-informativo {
 display: flex;
 align-items: center;
 font-size: 20px;
 font-weight: 400;
 line-height: 30px;
}

/* section video */
#secaoVideo {
 margin: 30px auto;
}

#secaoVideo .container {
 display: grid;
grid-auto-flow: column;
columns: auto;
}

#video {
 margin: 50px 25px 50px 100px;
}

#titulo-video {
 color: #247BA0;
 font-family: var(--title-font);
 font-size: 32px;
 font-weight: 800;
 line-height: 48px;
 margin-top: 25px;
}

.texto-video {
 font-family: var(--body-font);
 font-size: 16px;
 font-weight: 400;
 line-height: 32px;
 color: #383838;
 padding-top: 32px;
}

/* section - depoimentos */
#depoimentos {
 background-color: #247BA0;
 padding: 50px;
}

#titulo-carrocel {
 color: #EAECE5;
 font-size: 32px;
 font-family: var(--title-font);
 font-weight: 800;
 line-height: 48px;
 text-align: center;
}

.box-carrocel {
 display: flex;
 align-items: center;
 justify-content: space-around;
 gap: 30px;
 margin-top: 20px;
}

.carrocel-depoimento {
 background-color: #EAECE5;
 color: #000;
 border-radius: 10px;
 height: 150px;
 width: 600px;
 padding: 10px 20px;
 display: grid;
 grid-auto-flow: column;
 gap: 20px;
}

.depoimento {
 display: grid;
 grid-auto-flow: row;
}

quote {
 font-size: 12px;
 font-weight: 400;
 line-height: 30px;
 font-family: var(--body-font);
 font-style: italic;
}

.depoimento > p {
 font-size: 10px;
 font-weight: bold;
 line-height: 30px;
 font-family: var(--body-font);
 font-style: italic;
 text-align: right;
}

#Samantha {
 display: none;
}

#seta-esquerda {
 display: none;
 cursor: pointer;
}

#seta-direita {
 cursor: pointer;
}

.seta:hover {
 transform: translateY(-7px);
 transition-duration: 0.5s;
}

/* section Form */
#formulario {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
}

.titulo-formulario {
 font-family: var(--title-font);
 font-size: 32px;
 font-weight: 800;
 line-height: 48px;
 margin: 25px auto;
}

form {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 margin: 25px auto;
}

input {
 width: 400px;
 height: 50px;
 padding-left: 8px;
 border-radius: 10px;
 border: none;
 background-color: #EAECE5; 
}

button {
 width: 335px;
 height: 50px;
 margin-top: 20px;
 background-color: #247BA0;
 color: #EAECE5;
 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 text-align: center;
 border-radius: 10px;
 cursor: pointer;
}

button:hover {
 background-color: #4798bb;
 color: #fff;
 transform: translateY(-7px);
 transition-duration: 0.5s;
 border: none;
 box-shadow: 0 15px 20px #0518209d;
}